.main_container {
  width: 1440px;
  height: 500px;
}
.wrapper_container {
  width: 1224px;
  height: 444px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}
.header_container {
  width: 1100px;
  /* height: 44px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
content.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.design_header {
  display: flex;
  align-items: flex-start;
  color: #373737;
  width: 281px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 44px;
}
.more_event {
  align-items: flex-end;
  display: flex;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
}
.card_container {
  width: 288px;
  height: 352px;
  display: flex;
  flex-direction: column;
}
.event_image {
  width: 288px;
  height: 200px;
  border-radius: 5%;
}
.event_container {
  display: flex;
  flex-direction: column;
}
.event_top {
  width: 272px;
  height: 24px;
  margin-left: 8px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.event_category {
  width: 72px;
  height: 24px;
}
.event_button {
  width: 56px;
  height: 24px;
}
.event_bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.event_time {
  color: #373737;
  margin-top: 10px;
}
.event_title {
  width: 272px;
  height: 16px;
  width: 272px;
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.event_author {
  font-family: Noto Sans;
  font-size: 12px;
  line-height: 16px;
  width: 272px;
  height: 16px;
}
