.main_container {
  height: auto;
  width: 100vw;
}
.wrapper_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
.top_section_container {
  display: flex;
  flex-direction: column;
}
.title_container {
  margin-top: 1%;
  margin-left: 1%;
}
.event_summary_container {
  display: flex;
  margin-bottom: 2%;
  margin-left: 1%;
}
.calender_contaier {
  margin-top: auto;
}
.time_container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: 1%;
}
.category_container {
  margin-top: auto;
  background: #f0f2e9;
  margin-bottom: 2px;
}
.event_category {
  border-radius: 2%;
  padding: 0 15px 0 15px;
  align-items: center;
  text-align: center;
}
.body_section_container {
  display: flex;
  flex-direction: column;
}
.event_image {
  max-height: fit-content;
}
.content_container {
  display: flex;
  gap: 3%;
}
.event_detail_left_container {
  width: 70%;
}
.event_detail_right_container {
  display: flex;
  flex-direction: column;
  width: 27%;
}
.event_detail_container {
  margin-top: 5%;
}
.event_detail_title {
  display: flex;
  margin-top: 5%;
}
.event_detail_description {
  margin-top: 3%;
}
.profile_container {
  display: flex;
  margin-top: 10%;
  margin-bottom: 5%;
  gap: 10px;
}
.event_detail_profile_picture {
  border-radius: 50%;
}
.author_name {
  color: #373737;
  font-weight: 700;
  font-size: 16px;
}
.creates_by {
  font-size: 12px;
}
.event_detail_creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_detail_button_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.share_container {
  border: 1px solid #214457;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40%;
}
.save_container {
  border: 1px solid #214457;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40%;
}
.share_text {
  font-weight: 600;
}
.save_text {
  font-weight: 600;
}
