.banner {
  background-size: cover;
  background-position: center;
  height: 800px;
  color: white;
  margin-top: -112px;
}

.banner_content {
  height: 100%;
  display: flex;
  align-items: center;
}
.title {
  font-size: 56px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: bold;
  line-height: 61.6px;
  letter-spacing: 2px;
}
