
.search{
   width:50%;
   height:56px;
   border-radius:99px;
}
.search.icon{
   width:28px;
   height:28px;
}
.form-input input{
   height:28px;
   font-size:20px;
   font-weight:400;
   text-align:left;
   border:none;
}
.form-control:focus{
   outline: none;
   box-shadow: none;
}
.logo-wrapper{
   width:10%;
}
.input-wrapper{
   width:70%;
}
.button-wrapper{
   width:20%;
   height:40px;
}
.button-src{
   width:100%;
   background-color:#214457;
   border:none;
   border-radius:20px;
   font-size:16px;
   font-weight:700;
   color:white;
}
.btn:focus{
   outline: none;
   box-shadow: none;
}
@media (max-width:768px) {
   .search{
      width:70%;
      height:40px;
   }
   .search.icon{
      width:25px;
      height:25px;
   }
   .form-input input{
      font-size:16px;
   }
   .button-wrapper{
      width:20%;
      height:30px;
   }
}
@media (max-width:425px) {
   .search{
      width:95%;
      height:30px;
   }
   .search.icon{
      width:15px;
      height:15px;
   }
   .form-input input{
      font-size:14px;
      height:25px;
      font-weight:400;
   }
   .input-wrapper{
      width:80%;
   }
   .button-wrapper{
      width:20%;
      height:25px;
   }
   .button-src{
      font-size:14px;
      font-weight:400;
   }
}